{% extends "bonfire/layouts/base.html" %}
{% load i18n %}
{% load url from future %}

{% block seo %}
    <title>Password reset successful</title>
{% endblock %}


{% block body %}

      <header id="login-form-header">
            <img src="{{ STATIC_URL }}bonfire/images/bonfire-logo-medium.png" />
        </header>
    <div class="login-box">
        <form method="post" id="login-form" class="form-horizontal">
        <legend>Password reset successful</legend>
            {% csrf_token %}
            {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </div>
            {% endif %}
            <pre style="word-break: initial;">We've emailed you instructions for setting your password. You should be receiving them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</pre>

            {% include "bonfire/partials/form.html" %}


        </form>

        <script type="text/javascript">
        document.getElementById('id_username').focus()
        </script>
    </div>

        <footer id="login-form-footer">
            <a href="#">Learn more about bonfire</a>
            <img src="{{ STATIC_URL }}bonfire/images/powered-by-openignition.png"  class="floatright"/>

        </footer>
{% endblock %}