{% extends "bonfire/layouts/base.html" %}
{% load i18n %}
{% load url from future %}

{% block seo %}
    <title>Password reset complete</title>
{% endblock %}


{% block body %}

      <header id="login-form-header">
            <img src="{{ STATIC_URL }}bonfire/images/bonfire-logo-medium.png" />
        </header>
    <div class="login-box">
        <form method="post" id="login-form" class="form-horizontal">
        <legend>Password reset complete</legend>
            <pre style="word-break: initial;">Your password has been set. You may go ahead and log in now.</pre>
        <div class="form-actions">
            <a href="{% url 'login' %}" class="pull-right btn btn-primary">{% trans 'Login' %}</a>
        </div>
        </form>

    </div>

        <footer id="login-form-footer">
            <a href="#">Learn more about bonfire</a>
            <img src="{{ STATIC_URL }}bonfire/images/powered-by-openignition.png"  class="floatright"/>

        </footer>
{% endblock %}